<!-- Describe task in general -->

<p>
    Sort the given sequence so that its elements should be grouped and those groups end up in the decreasing frequency order, that is, the number of times element appears in the sequence. If two elements have the same frequency, their groups should end up according to the natural order of elements. For example:
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}freq-sort.svg" alt="example" style="max-height: 200px"/>
</p>

<p>
    If you want to practice more with the similar case, try <a target="_blank" href="https://py.checkio.org/mission/sort-array-by-element-frequency/">Sort Array by Element Frequency</a> mission.
</p>



<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> <span translate="repeat">{% if is_js %}Array{% else %}List{% endif %}</span> of integers <span translate="no">{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>

<p>
    <strong>Output:</strong> {% if is_js %}<span translate="repeat">Array</span>{% else %}<span translate="repeat">List</span> or another <span translate="repeat">Iterable</span> (<span translate="repeat">tuple</span>, <span translate="repeat">iterator</span>, <span translate="repeat">generator</span>){% endif %} of integers <span translate="no">{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
<p>
<strong>Examples:</strong>
</p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain how it can be used in development and what is usage of this. -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>How it is used:</strong>
    For analyzing data using mathematical statistics and mathematical analysis, and for finding trends and predicting future changes (systems, phenomena, etc.).
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Preconditions:</strong>
    <ul>
        <li>{% if is_js %}<span translate="repeat">array</span>{% else %}<span translate="repeat">list</span>{% endif %} length <= 100;</li>
        <li>max number <= 100.</li>
    </ul>
</p>
<p><i>The mission was taken from <span translate="no">Python CCPS 109</span>. It is taught for <span translate="no">Ryerson Chang School of Continuing Education</span> by <a href="https://github.com/ikokkari">Ilkka Kokkarinen</a></i></p>
